# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de entornos virtuales
venv/
.env/

# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]

# Ignorar archivos de dependencias
*.egg-info/
*.egg

# Ignorar archivos de log y bases de datos
*.log
*.db

# Ignorar archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivo de dependencias de Python
requirements.txt
